html{
    background-color: white;
    font-family:'Heebo';
    overflow-y: hidden;
}

.no_select{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.outer_box{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

body{
    margin: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

footer{
    background-color: rgba(255, 255, 255, 0.95);
    left: 0;
    right:0;
    height:100px;
    position: fixed;
    bottom: 0;
    animation-duration: 1s;
    animation-name: slideinfrombottom;
    z-index: 1;
}
#top_bar_cutout{
    background-color: white;
    mix-blend-mode: screen;
}

#top_bar_text, #top_bar_cutout{
    display: flex;
    justify-content: space-between;
    z-index:1;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100px;
    padding: 0 20px 0 20px;
    animation-duration: 1s;
    animation-name: slideinfromtop;
    line-height: 100px;
}

#top_bar_text{
    color: rgba(0, 0, 0, 0.4);
}


#my_name{
    flex-grow: 2;
    font-size: 40px;
}

.projects_text{
    margin: 0 20px;
    font-size: 26px;
    cursor: pointer;
    transition: .2s;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.projects_text_selected{
    border-bottom: 4px solid black;
}

.projects_text_selected_clear{
    border-bottom: 4px solid rgba(0, 0, 0, 0.4);
}

.projects_text_selected, .projects_text_selected_clear{
    line-height: 85px;
    height: 70px;
    transition: .2s;
}

@keyframes slideinfromtop {
    from {
      transform: translateY(-100px);
    }
  
    to {
      transform:translateY(0px);
    }
}

@keyframes slideinfrombottom {
    from {
      transform: translateY(100px);
    }
  
    to {
      transform:translateY(0px);
    }
}

@keyframes fadebackground {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 100%;
    }
}

#arrow_button_left, #arrow_button_right{
    transition: 0.2s;
    vertical-align: center;
    width: 70px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.5);
    line-height: 70px;
    border-radius: 50%;
    margin: 110px 20px 10px 20px;
    cursor: pointer;
    z-index:1;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#arrow_button_left:hover, #arrow_button_right:hover{
    background-color: white;
}

#arrow_button_left:active, #arrow_button_right:active{
    background-color: black;
    color: white;
    transition: 0s;
    box-shadow: inset 0px 0px 0px 5px white;
}

#app{
    height: 100%;
}

@font-face {
    font-family: 'Material_Icons';
    src: url('fonts/Material_Icons.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: url('fonts/Heebo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

i{
    font-family: 'Material_Icons';
    font-style: normal;
}

.cutout_arrow{
    mix-blend-mode: screen;
    background-color: white;
    border-radius: 50%;
}

#background_picture{
    width: 100%;
}

.fade-enter-active, .fade-leave-active {
    transition: all .15s ease;
    overflow: hidden;
    visibility: visible;
    opacity: 1;
    position: absolute;
  }
.fade-enter, .fade-leave-to {
    opacity: 0;
    visibility: hidden;
  }

.slide_left-leave-active,
.slide_left-enter-active, 
.slide_right-leave-active,
.slide_right-enter-active {
  transition: 1s;
}
.slide_left-enter {
  transform: translate(100%, 0);
}
.slide_left-leave-to {
  transform: translate(-100%, 0);
}
.slide_right-enter {
    transform: translate(-100%, 0);
  }
.slide_right-leave-to {
    transform: translate(100%, 0);
}

#middle_content{
    position: fixed;
    top: 100px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    overflow: hidden;
    background-color: rgb(0, 0, 0, .5);
    padding: 10px 0 0 0;
}

#middle_inner_content{
    color: #555;
    margin: 20px;
    font-size: 20px;
    margin: 0px;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    
}

h1{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 34px;
    padding-left: 10px;
    margin-right: 10px;
}

h2{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 26px;
    padding-left: 10px;
    line-height: 26px;
    
}

p{
    padding: 10px;
    margin: 0;
}

.info_card{
    z-index: 1;
    background-color: white;
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
   align-items: center;
   justify-content: center;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.video_box_wrapper{
    height:0;
	position:relative;
    padding-bottom: 56.25%;
}

.inner_box{
    width: 100%;
    max-width: 1280px;
}

.small_image_holder{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px 0;
}

.resume_image{
    height: 100px;
    padding: 10px 20px;
}

#resume_content{
    columns: 400px 2;
    width: 100%;
}

.resume_content_inner{
    width: 50%;
    min-width: 400px;
}

.par_padding{
    padding-left: 15px;
}

ul, ol{
    margin-top: 0;
    margin-bottom: 0;
}

#pathfinder_iframe{
    width: 100%;
    height: 900px;
}

.button_bar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}